:root {
  --nd-blue: #0c2340;
  --nd-gold: #c99700;
  --sky-blue: #e6f2ff;
  --white: #ffffff;
  --black: #000000;
  --irish-green: #08A04B;
}
h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

p {
  font-size: 1.05rem;
  line-height: 1.6;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--sky-blue);
  color: var(--white);
}

/* Navigation bar */
nav {
  background-color: var(--nd-blue);
  padding: 15px;
}

nav a {
  color: sky-blue;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

nav a:hover {
  color: var(--nd-green);
}

/* Main layout */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

/* Profile section */
.profile {
  display: flex;
  align-items: center;
  gap: 30px;
  background: var(--black);
  padding: 30px;
  border-radius: 12px;
  /*line for the border */
  border: 2px solid var(--nd-blue);
}

.profile img {
  width: 230px;
  border-radius: 25%;
  border: none;
  object-fit: cover;
    /* 4px solid var(--nd-gold); */
}

/* Image gallery */
.gallery {
  margin-top: 40px;
  background: var(--black);
  padding: 30px;
  border-radius: 12px;
}

.gallery h2 {
  margin-top: 0;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  align-items: center;
}

.gallery-grid img {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
}
